body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat';
}


.head-text{
  width: "55%";
  margin: "auto";
  font-weight: 900;
  font-family: "Valera";

  @media screen and (max-width: 900px) {
      width:"70%";
      margin: 'auto';
      font-size: '1.5rem !important'
  }
}